aiohttp==3.8.6
aiosignal==1.3.1
async-timeout==4.0.3
asyncpg==0.28.0
attrs==21.4.0
charset-normalizer==2.0.12
coverage==7.3.2
flake8==6.1.0
frozenlist==1.4.0
idna==3.3
mccabe==0.7.0
multidict==6.0.2
pycodestyle==2.11.1
pyflakes==3.1.0
yarl==1.9.2
