certifi==2024.2.2
charset-normalizer==3.3.2
coverage==7.4.1
flake8==7.0.0
frozenlist==1.4.1
idna==3.6
mccabe==0.7.0
psycopg==3.1.18
psycopg-binary==3.1.18
pycodestyle==2.11.1
pyflakes==3.2.0
requests==2.31.0
sentry-sdk==1.39.2
typing_extensions==4.9.0
urllib3==2.1.0
