aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
charset-normalizer==2.0.12
flake8==4.0.1
frozenlist==1.3.0
idna==3.3
mccabe==0.6.1
multidict==6.0.2
pycodestyle==2.8.0
pyflakes==2.4.0
yarl==1.7.2
